<!DOCTYPE html>
<html>
<head>
	<title>Story 6 Annisya</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	<h1>Halo! Apa Kabar?</h1>
	<form method="post">
		{% csrf_token %}
		<table class="table">
			{{ statusform.as_table }}	
		</table>
		<br> 
		<button type="Submit" id="submit">Submit</button>
	</form>
	<br>
	<br>
	<table class="table">
		<thead>
			<th scope="col">Time</th>
			<th scope="col">Status</th>
		</thead>

		<tbody>
			{% for status in statusmodel %}
			<tr>
				<td>{{status.Time}}</td>
				<td>{{status.Status}}</td>
			</tr>
			{% endfor %}
		</tbody>
		
	</table>

</body>
</html>